<bacon class="task-bacon">


    <div class="email-wrapper wrapper">
        <div class="row align-items-stretch">

            <div class="mail-list-container col-md-3 pt-4 pb-4 border-right bg-white">
                
                <div class="border-bottom pb-2 mb-3 px-3">
                    <div class="form-group">
                        <input  class="form-control w-100" type="search" placeholder="Número Mesa o Nombre De Cliente" id="buscar-cliente-pagar-orden">
                    </div>
                    <div class="form-group">
                        <button type="button" onclick="buscarClientePagarOrden()" class="btn btn-primary btn-lg btn-block">
                            <i class="mdi mdi-account-search"></i>
                            Buscar
                        </button>
                    </div>
                </div>

 
                <div id="cargaClientesOrden">

                    <article class="container" style="border: 0px;">

                        <div class="background">
                            <div class="left">
                                <!----<div class="image"></div>-->
                                <div class="mask thick"></div>
                            </div>
                            <div class="right">
                                <div class="bar"></div>
                                <div class="mask thick"></div>
                                <div class="bar"></div>
                                <div class="mask thin"></div>
                                <div class="bar medium"></div>
                                <div class="mask thick"></div>
                                <div class="bar small"></div>
                            </div>
                        </div>

                        <br />

                        <div class="background">
                            <div class="left">

                                <div class="mask thick"></div>
                            </div>
                            <div class="right">
                                <div class="bar"></div>
                                <div class="mask thick"></div>
                                <div class="bar"></div>
                                <div class="mask thin"></div>
                                <div class="bar medium"></div>
                                <div class="mask thick"></div>
                                <div class="bar small"></div>
                            </div>
                        </div>

                        <div class="background">
                            <div class="left">

                                <div class="mask thick"></div>
                            </div>
                            <div class="right">
                                <div class="bar"></div>
                                <div class="mask thick"></div>
                                <div class="bar"></div>
                                <div class="mask thin"></div>
                                <div class="bar medium"></div>
                                <div class="mask thick"></div>
                                <div class="bar small"></div>
                            </div>
                        </div>


                    </article>


                </div>

               

            </div>



            <div class="mail-view d-none d-md-block col-md-9 col-lg-9 bg-white">



                <div class="message-body" id="formCambiarValorPago" >
                    <div class="sender-details">
                        <div class="details">
                            <p class="msg-subject" id="NombreClienteDetalle" >
                                <!---nombre del cliente-->
                            </p>
                            <p class="sender-email">
                                Número de Cliente:
                                <a href="#" id="numeroClienteDetalle" ><!----numero de cliente--></a>
                                &nbsp;<i class="mdi mdi-account-multiple-plus"></i>
                            </p>
                        </div>
                    </div>
                    <div class="message-content">
                        <div class="row">
                            <div class="col-md-3">

                                <div class="card icon-card-primary mt-4">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
                                                <i class="mdi mdi-cash-multiple"></i>
                                            </div>
                                            <p class="font-weight-medium mb-0">Total</p>
                                        </div>
                                        <div class="d-flex align-items-center mt-3 flex-wrap">
                                            <h3 class="font-weight-normal mb-0 mr-2" id="totalPagarClienteDetalle"></h3>
                                        </div>
                                        <small class="font-weight-medium d-block mt-2">Total de a pagar</small>
                                    </div>
                                </div>

                                <div class="card icon-card-dark mt-4">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
                                                <i class="mdi mdi-coffee"></i>
                                            </div>
                                            <p class="font-weight-medium mb-0">Mesa</p>
                                        </div>
                                        <div class="d-flex align-items-center mt-3 flex-wrap">
                                            <h3 class="font-weight-normal mb-0 mr-2" id="mesaNumeroDetalleCliente" ><!--numero--></h3>
                                        </div>
                                        <small class="font-weight-medium d-block mt-2">Mesa asignada al cliente</small>
                                    </div>
                                </div>

                                <div class="card icon-card-success mt-4">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
                                                <i class="mdi mdi-coffee"></i>
                                            </div>
                                            <p class="font-weight-medium mb-0">Cantidad de ordenes</p>
                                        </div>
                                        <div class="d-flex align-items-center mt-3 flex-wrap">
                                            <h3 class="font-weight-normal mb-0 mr-2" id="totalOrdenClienteDetalle"><!--numero--></h3>
                                        </div>
                                        <small class="font-weight-medium d-block mt-2">Total de ordenes emitidas por el cliente</small>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-9 grid-margin stretch-card mt-4">
                                <div class="card" style="border: 0px; border-radius:0px;">
                                    
                                        <div class="card-body">
                                            <h4 class="card-title">Cambiar el monto a pagar</h4>
                                            <p class="card-description">
                                                @*Basic bootstrap input groups*@
                                            </p>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group" style="margin-left:30%;">
                                                        <div class="input-group">
                                                            <div class="form-check form-check-danger">
                                                                <label class="form-check-label">
                                                                    <input type="radio" class="form-check-input" required name="isOperacionCambiarValor" value="0" disabled id="isOperacionCambiarValorUno">
                                                                    Aumentar Monto
                                                                    <i class="input-helper"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" style="margin-left:30%;">
                                                        <div class="input-group">
                                                            <div class="form-check form-check-danger">
                                                                <label class="form-check-label">
                                                                    <input type="radio" class="form-check-input" required name="isOperacionCambiarValor" value="1" disabled id="isOperacionCambiarValorDos">
                                                                    Disminuir Monto
                                                                    <i class="input-helper"></i>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-primary text-white">$</span>
                                                    </div>
                                                    <input type="text" class="form-control form-control-lg" required id="valorAcambiar" disabled aria-label="Amount (to the nearest dollar)">
                                                    <div class="input-group-append">

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label for="exampleTextarea1">Motivo del cambio (*)</label>
                                                <textarea class="form-control" id="motivoCambiarValor" disabled required rows="4"></textarea>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <button type="button" onclick="habilitarCambiarValor()"  class="btn btn-dark btn-lg btn-block">
                                                        Cambiar el Monto a Pagar
                                                    </button>
                                                </div>
                                                <div class="col-md-6" id="btnPagarTotalCliente">

                                                </div>
                                            </div>

                                        </div>
                                 
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="attachments-sections">

                        <div class="card-columns" id="ordenesClienteApagar" style="column-count: 1;">


                            <div class="card">
                                <div class="card-body">

                                    <article class="container" style="border: 0px;">

                                        <div class="background">
                                            <div class="left">
                                                <!----<div class="image"></div>-->
                                                <div class="mask thick"></div>
                                            </div>
                                            <div class="right">
                                                <div class="bar"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar"></div>
                                                <div class="mask thin"></div>
                                                <div class="bar medium"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar small"></div>
                                            </div>
                                        </div>

                                        <br />

                                        <div class="background">
                                            <div class="left">

                                                <div class="mask thick"></div>
                                            </div>
                                            <div class="right">
                                                <div class="bar"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar"></div>
                                                <div class="mask thin"></div>
                                                <div class="bar medium"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar small"></div>
                                            </div>
                                        </div>

                                        <div class="background">
                                            <div class="left">

                                                <div class="mask thick"></div>
                                            </div>
                                            <div class="right">
                                                <div class="bar"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar"></div>
                                                <div class="mask thin"></div>
                                                <div class="bar medium"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar small"></div>
                                            </div>
                                        </div>


                                    </article>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">

                                    <article class="container" style="border: 0px;">

                                        <div class="background">
                                            <div class="left">
                                                <!----<div class="image"></div>-->
                                                <div class="mask thick"></div>
                                            </div>
                                            <div class="right">
                                                <div class="bar"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar"></div>
                                                <div class="mask thin"></div>
                                                <div class="bar medium"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar small"></div>
                                            </div>
                                        </div>

                                        <br />

                                        <div class="background">
                                            <div class="left">

                                                <div class="mask thick"></div>
                                            </div>
                                            <div class="right">
                                                <div class="bar"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar"></div>
                                                <div class="mask thin"></div>
                                                <div class="bar medium"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar small"></div>
                                            </div>
                                        </div>

                                        <div class="background">
                                            <div class="left">

                                                <div class="mask thick"></div>
                                            </div>
                                            <div class="right">
                                                <div class="bar"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar"></div>
                                                <div class="mask thin"></div>
                                                <div class="bar medium"></div>
                                                <div class="mask thick"></div>
                                                <div class="bar small"></div>
                                            </div>
                                        </div>


                                    </article>

                                </div>
                            </div>

                                                       
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
     

    <script type="text/javascript">

        let isPagoPersonalizado = false;

        
        function pagarOrdenIndex() {

            getClientesMesa();

            var form = document.getElementById('formCambiarValorPago');
            form.style.visibility = 'hidden';

            timerPagarOrden = false;
            isPagoPersonalizado = false;

        }

        function getClientesMesa() {

            ipcRenderer.send("async-pagarOrden-clientes", 'buscar');
            var loader = document.getElementById('loader');
            loader.style.visibility = '';

        }

        ipcRenderer.on('asynchronous-reply-pagarOrden-clientes', (event, arg) => {

            let message = "";

            document.getElementById('cargaClientesOrden').innerHTML = ""; 


            for (var i = 0; i < arg.length; i++) {

                message += "<div class='mail-list'><div class='form-check'> <label class='form-check-label'> "
                    + "<input onclick='cargarCliente(" + arg[i].idCliente + ")' type='radio' name='mesa' class='form-check-input'> "
                    + "<i class='input-helper'></i></label></div> <div class='content'><p class=sender-name'>" + arg[i].nombre + "</p>"
                    + "<p class='message_text'> Número Mesa #" + arg[i].mesa.numeroMesa + "</p></div></div>";

            }


            document.getElementById('cargaClientesOrden').innerHTML = message;

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

        });

        function clienteDetalle(idCliente) {

            ipcRenderer.send("async-pagarOrden-clienteDetalle", idCliente);
            var loader = document.getElementById('loader');
            loader.style.visibility = '';

        }

        ipcRenderer.on('asynchronous-reply-pagarOrden-clienteDetalle', (event, arg) => {


            let nombreCliente = document.getElementById('NombreClienteDetalle');

            
            nombreCliente.innerHTML = arg.nombre + " - Ingresado (" + formatFechaP(arg.fechaIngreso) + ")";


            
            let numeroClienteDetalle = document.getElementById('numeroClienteDetalle');

            
            numeroClienteDetalle.innerHTML = arg.idCliente;


            let mesaNumeroDetalleCliente = document.getElementById('mesaNumeroDetalleCliente');


            mesaNumeroDetalleCliente.innerHTML = arg.mesa.numeroMesa;

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

        });

         function totalOrdenesClienteDetalle(idCliente) {

            ipcRenderer.send("async-pagarOrden-totalOrdenClienteDetalle", idCliente);
            var loader = document.getElementById('loader');
            loader.style.visibility = '';

         }

         ipcRenderer.on('asynchronous-reply-pagarOrden-totalOrdenClienteDetalle', (event, arg) => {

             let totalOrdenClienteDetalle = document.getElementById('totalOrdenClienteDetalle');

             totalOrdenClienteDetalle.innerHTML = arg;

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

         });


          function totalApagarClienteDetalle(idCliente) {

            ipcRenderer.send("async-pagarOrden-totalPagarClienteDetalle", idCliente);
            var loader = document.getElementById('loader');
            loader.style.visibility = '';

         }

         ipcRenderer.on('asynchronous-reply-pagarOrden-totalPagarClienteDetalle', (event, arg) => {

             let totalPagarClienteDetalle = document.getElementById('totalPagarClienteDetalle');

             totalPagarClienteDetalle.innerHTML = "$" + dar_formato(arg);

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

        });

        function cargarCliente(idCliente) {

            var btnPagarTotalCliente = document.getElementById('btnPagarTotalCliente');

            btnPagarTotalCliente.innerHTML = "";

            var form = document.getElementById('formCambiarValorPago');
            form.style.visibility = 'hidden';

            clienteDetalle(idCliente);
            totalOrdenesClienteDetalle(idCliente);
            totalApagarClienteDetalle(idCliente);
            habilitarDeshabilitarInput(true);

            ordenesClientePagarOrdenes(idCliente);

            //var form = document.getElementById('formCambiarValorPago');

            form.style.visibility = '';

            let button = "<button onclick='pagarCliente(" + idCliente + ")' type = 'submit' class='btn btn-primary btn-lg btn-block' >"
                       + "<i class='mdi mdi-account'></i>Pagar</button>";

            btnPagarTotalCliente.innerHTML = button;
            
            isPagoPersonalizado = false;
        }


        function habilitarCambiarValor() {
             ipcRenderer.send("information-dialog-cambiarTotalPagar");
        }

        ipcRenderer.on("information-dialog-reply-cambiarTotalPagar", (sender, index) => {
           

            if (index == 0) {

                isPagoPersonalizado = true;
                document.getElementById('isOperacionCambiarValorUno').checked = true;
                habilitarDeshabilitarInput(false);
            } 


        });

        function habilitarDeshabilitarInput(isActive) {
            habilitar(document.getElementById('isOperacionCambiarValorUno'));
            habilitar(document.getElementById('isOperacionCambiarValorDos'));
            habilitar(document.getElementById('valorAcambiar'));
            habilitar(document.getElementById('motivoCambiarValor'));

            function habilitar(input) {
                input.disabled = isActive;
            }

        }



        function pagarCliente(idCliente) {
                        
            if (isPagoPersonalizado) {

                var checkUno = document.getElementById('isOperacionCambiarValorUno');
                var checkDos = document.getElementById('isOperacionCambiarValorDos');

                var valorAcambiar = document.getElementById('valorAcambiar');

                var motivoCambiarValor = document.getElementById('motivoCambiarValor');

                if (valorAcambiar.value.trim() != "" && valorAcambiar.value >= 1) {

                    if (motivoCambiarValor.value.trim() != "") {
                        //0: sumar - 1: restar
                        var operacion = 0;

                        if (checkDos.checked) {
                            operacion = 1;
                        }


                         var datos = [
                             {
                            "id_cliente" : idCliente , 
                            "valor_a_pagar": valorAcambiar.value,
                            "operacion": operacion , 
                            "motivo": motivoCambiarValor.value
                          }
                         ]

                      
                        ipcRenderer.send("async-pagarOrden-pagarClientePersonalizado", datos);
                        var loader = document.getElementById('loader');
                        loader.style.visibility = '';


                    } else {

                        alert('Motivo es obligatorio');

                    }

                } else {

                    alert('Valor es obligatorio y mayor a uno');

                }


                //alert(checkUno.checked);
                //alert(checkDos.checked);



            } else {

                ipcRenderer.send("async-pagarOrden-pagarClienteOrdenes", idCliente);
                var loader = document.getElementById('loader');
                loader.style.visibility = '';

            }

        }

       
        ipcRenderer.on('asynchronous-reply-pagarOrden-pagarClientePersonalizado', (event, arg) => {

           

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';
        });

        ipcRenderer.on('asynchronous-reply-pagarOrden-pagarClienteOrdenes', (event, arg) => {

            pagarOrdenIndex();

        });


        //async-receta-pagarOrden-cliente
        function ordenesClientePagarOrdenes(idCliente) {
            ipcRenderer.send("async-receta-pagarOrden-cliente", idCliente);
            var loader = document.getElementById('loader');
            loader.style.visibility = '';
        }

        ipcRenderer.on('asynchronous-reply-receta-pagarOrden-cliente', (event, arg) => {

            

            let message = "";

            document.getElementById('ordenesClienteApagar').innerHTML = "";

            for (var i = 0; i < arg.length; i++) {

                    var recetas = "";
                 
                    for (var j = 0; j < arg[i].recetaOrdenada.length ; j++) {

                        //recetas += "<tr><td class='pl-0'  >" + arg[i].recetaOrdenada[j].receta.nombreReceta + "</td>"
                        //    + "<td class='pr-0 text-right'><div class='badge badge-pill badge-outline-primary'>"
                        //    + arg[i].recetaOrdenada[j].cantidad + "</div></td></tr>";

                       recetas  += "<tr><td class='pl-0'><a href='#23423423' onclick='modalRecetaPagoOrden( " + arg[i].recetaOrdenada[j].receta.idReceta + "  )' >" + arg[i].recetaOrdenada[j].receta.nombreReceta + "</a>"
                         +  "</td><td class='pr-0 text-right'><div class='badge badge-pill badge-primary'>" +  arg[i].recetaOrdenada[j].cantidad + "</div></td></tr>";

                    }
                
                message += "<div class='card' style='border: 1px solid #eee;' ><div class='card-body'><h4 class='card-title mt-3'>Orden número #" + arg[i].orden.idOrden + "</h4>"
                    + "<div class='badge badge-outline-primary mr-1'>" + arg[i].orden.tiempoPreparacion + " minutos</div>"
                    + "<div class='badge badge-outline-danger mr-1'>$"  + dar_formato(arg[i].orden.totalOrden) + " total Orden</div>"
                    + "<div class='badge badge-" + estadoOrdenStyle(arg[i].orden.fechaCompleta) + " mr-1'>" + estadoOrden(arg[i].orden.fechaCompleta) + "</div> "
                    + "<br />"
                    + "<table class='table mb-0'><thead><tr><th class='pl-0'>Receta</th><th class='text-right'>Cantidad</th></tr></thead><tbody>"

                    + recetas 

                    + "</tbody></table>"
                    + "<h4 class='card-title mt-3'>Descripción</h4>"
                    + "<p class='card-text'>" + arg[i].orden.descripcion + "</p>"
                    + "<p class='card-text'>" + stiloAnulacion(arg[i].orden.motivoAnulacion) + "</p>"
                    
                    + "<table class='table mb-0'><thead><tr><th class='text-right'>"
                    + "</th>"
                    + "</tr></thead></table></div></div>";

            }

            document.getElementById('ordenesClienteApagar').innerHTML = message;

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

        });

        function buscarClientePagarOrden() {
            let busqueda = document.getElementById('buscar-cliente-pagar-orden');

             ipcRenderer.send("async-receta-pagarOrden-buscarCliente", busqueda.value);

            var loader = document.getElementById('loader');
            loader.style.visibility = '';
            
        }


        ipcRenderer.on('asynchronous-reply-receta-pagarOrden-buscarCliente', (event, arg) => {

           

            let message = "";

            document.getElementById('cargaClientesOrden').innerHTML = ""; 


          

            for (var i = 0; i < arg.length; i++) {

                message += "<div class='mail-list'><div class='form-check'> <label class='form-check-label'> "
                    + "<input onclick='cargarCliente(" + arg[i].idCliente + ")' type='radio' name='mesa' class='form-check-input'> "
                    + "<i class='input-helper'></i></label></div> <div class='content'><p class=sender-name'>" + arg[i].nombre + "</p>"
                    + "<p class='message_text'> Número Mesa #" + arg[i].mesa.numeroMesa + "</p></div></div>";

            }


            document.getElementById('cargaClientesOrden').innerHTML = message;

            if (arg.length == 0) {
                document.getElementById('cargaClientesOrden').innerHTML = "<div class='mail-list'><div class='alert alert-primary' style='width: 100%;' >No se encontraron resultados</div></div>";
            }

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

        });



        setInterval(function () {
             if (timerPagarOrden) {
                getClientesMesa();
            }
        }, 60000);

        function stiloAnulacion(anulacion) {

            let anulacionMessage = "" ;

            if (anulacion != "N/A") {
                anulacionMessage = "<div class='alert alert-danger' style='border-radius: 0px;' > " + anulacion + " </div>";
            } else {
                anulacionMessage = "Orden No Anulada";
            }

            return anulacionMessage;

            
        }

        
        function modalRecetaPagoOrden(idReceta) {
            ipcRenderer.send("modalReceta-pagarOrden-window", idReceta);
        }


        function dar_formato(num) {

                var cadena = "";
                var aux;

                var cont = 1, m, k;

                if (num < 0)
                    aux = 1;
                else
                    aux = 0;

                num = num.toString();

                for (m = num.length - 1; m >= 0; m--) {

                    cadena = num.charAt(m) + cadena;

                    if (cont % 3 == 0 && m > aux)
                        cadena = "." + cadena;
                    else
                        cadena = cadena;

                    if (cont == 3)
                        cont = 1;
                    else
                        cont++;

                }

                cadena = cadena.replace(/.,/, ",");

                return cadena;

        }

        function formatFechaP(fecha) {
            var f = new Date(fecha);

            return f.getDay() + '-' + f.getMonth() + '-' + f.getFullYear() + ' ' + f.getHours() + ':' + f.getMinutes() + " min";

        }

        
    </script>
</bacon>
