<bacon class="task-bacon">
    <!--inicio row-->
    <div class="row">


        <div class="col-md-4 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Totalidad de recetas ordenadas</h4>
                    <div class="template-demo">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th class="pl-0">Receta</th>
                                    <th class="text-right">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody id="target-ord-cocina-cantidad">


                                <tr>
                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="width:  100%;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>

                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="height: 20px;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>
                                </tr>


                                <tr>
                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="width:  100%;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>

                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="height: 20px;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="width:  100%;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>

                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="height: 20px;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="width:  100%;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>

                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="height: 20px;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="width:  100%;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>

                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="height: 20px;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>
                                </tr>


                                <tr>
                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="width:  100%;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>

                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="height: 20px;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="width:  100%;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>

                                    <td>

                                        <article class="container" style="border: 0px;">

                                            <div class="background" style="min-height: 20px;width: 100%;">

                                                <div class="right" style="height: 20px;">
                                                    <div class="bar"></div>
                                                </div>
                                            </div>

                                        </article>

                                    </td>
                                </tr>



                            </tbody>
                        </table>

                        

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 grid-margin"  >

           

            <div class="card-columns" id="target-ord-cocina" style="column-count:2;">
                <!--inicio tarjeta de ordenes--->

                <div class="card">
                    <div class="card-body">

                        <article class="container" style="border: 0px;">

                            <div class="background">
                                <div class="left">
                                    <!----<div class="image"></div>-->
                                    <div class="mask thick"></div>
                                </div>
                                <div class="right">
                                    <div class="bar"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar"></div>
                                    <div class="mask thin"></div>
                                    <div class="bar medium"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar small"></div>
                                </div>
                            </div>

                            <br />

                            <div class="background">
                                <div class="left">

                                    <div class="mask thick"></div>
                                </div>
                                <div class="right">
                                    <div class="bar"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar"></div>
                                    <div class="mask thin"></div>
                                    <div class="bar medium"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar small"></div>
                                </div>
                            </div>

                            <div class="background">
                                <div class="left">

                                    <div class="mask thick"></div>
                                </div>
                                <div class="right">
                                    <div class="bar"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar"></div>
                                    <div class="mask thin"></div>
                                    <div class="bar medium"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar small"></div>
                                </div>
                            </div>


                        </article>

                    </div>
                </div>

                <div class="card">
                    <div class="card-body">

                        <article class="container" style="border: 0px;">

                            <div class="background">
                                <div class="left">
                                    <!----<div class="image"></div>-->
                                    <div class="mask thick"></div>
                                </div>
                                <div class="right">
                                    <div class="bar"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar"></div>
                                    <div class="mask thin"></div>
                                    <div class="bar medium"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar small"></div>
                                </div>
                            </div>

                            <br />

                            <div class="background">
                                <div class="left">

                                    <div class="mask thick"></div>
                                </div>
                                <div class="right">
                                    <div class="bar"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar"></div>
                                    <div class="mask thin"></div>
                                    <div class="bar medium"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar small"></div>
                                </div>
                            </div>

                            <div class="background">
                                <div class="left">

                                    <div class="mask thick"></div>
                                </div>
                                <div class="right">
                                    <div class="bar"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar"></div>
                                    <div class="mask thin"></div>
                                    <div class="bar medium"></div>
                                    <div class="mask thick"></div>
                                    <div class="bar small"></div>
                                </div>
                            </div>


                        </article>

                    </div>
                </div>

                <!--fin tarjeta de ordenes--->
            </div>


        </div>
        <!---fin columnas--->
    </div>
    <!--fin row-->


    <script type="text/javascript" >

        
        function cocinaIndex() {
            cargarOrdenes();
            cargarRecetaCantidad();
        }

         //para cargar las ordenes 
        function cargarOrdenes() {
            //Carga de las ordenes Cocina 
            ipcRenderer.send("async-receta", 'buscar');
            var loader = document.getElementById('loader');
            loader.style.visibility = '';
            ///fin de carga de ordenes 
        }

        ipcRenderer.on('asynchronous-reply-receta', (event, arg) => {

            let message = "";

             document.getElementById('target-ord-cocina').innerHTML = "";

            for (var i = 0; i < arg.length; i++) {

                    var recetas = "";
                 
                    for (var j = 0; j < arg[i].recetaOrdenada.length ; j++) {

                        recetas += "<tr><td class='pl-0'  >" + cortarTextoConPuntos(arg[i].recetaOrdenada[j].receta.nombreReceta,32) + "</td>"
                            + "<td class='pr-0 text-center'><div class='badge badge-pill badge-outline-primary'>"
                            + arg[i].recetaOrdenada[j].cantidad + "</div></td></tr>";

                    }
                
                message += "<div class='card'><div class='card-body'><h4 class='card-title mt-3'>Orden número #" + arg[i].orden.idOrden + "</h4>"
                    + "<div class='badge badge-outline-primary mr-1'>Mesa #" + arg[i].orden.cliente.mesa.numeroMesa +  "</div>"
                    + "<div class='badge badge-outline-primary mr-1'>"  + arg[i].orden.tiempoPreparacion + " minutos</div>"
                    + "<div class='badge badge-info mr-1'>" + arg[i].orden.fechaCompleta + "</div> "
                    + "<div class='badge badge-" + estadoOrdenStyle(arg[i].orden.fechaCompleta) + " mr-1'>" + estadoOrden(arg[i].orden.fechaCompleta) + "</div> "
                    + "<div class='badge badge-info mr-1 mt-1'>" + calcularMinutos(arg[i].orden.fechaCompleta) + " minutos</div> "
                    + "<br />"
                    + "<table class='table mb-0'><thead><tr><th class='pl-0'>Receta</th><th class='text-right'>Cantidad</th></tr></thead><tbody>"

                    + recetas 

                    + "</tbody></table>"
                    + "<h4 class='card-title mt-3'>Descripción</h4>"
                    + "<p class='card-text'>" + arg[i].orden.descripcion + "</p>"
                    + "<table class='table mb-0'><thead><tr><th class='text-right'>"
                    + "<button type='button' onclick='completarOrden(" + arg[i].orden.idOrden  + ")' class='btn btn-outline-success btn-fw'>Orden Lista</button></th>"
                    + "</tr></thead></table></div></div>";

            }

            document.getElementById('target-ord-cocina').innerHTML = message;

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

            cargarTextos();

        });
        //fin para cargar las ordenes 


        //para cargar la cantidad de receta 
         function cargarRecetaCantidad() {
            ipcRenderer.send("async-receta-cantidad", 'buscar');
            var loader = document.getElementById('loader');
            loader.style.visibility = '';
         }


         ipcRenderer.on('asynchronous-reply-receta-cantidad', (event, arg) => {

            let message = "";

            document.getElementById('target-ord-cocina-cantidad').innerHTML = "";                   

            for (var i = 0; i < arg.length; i++) {
                 message += "<tr><td class='pl-0'><a href='#23423423' onclick='modalReceta( " + arg[i].receta.idReceta + "  )' >" + cortarTextoConPuntos(arg[i].receta.nombreReceta, 25) + "</a>"
                         +  "</td><td class='pr-0 text-right'><div class='badge badge-pill badge-primary'>" +  arg[i].cantidad + "</div></td></tr>";
            }

            document.getElementById('target-ord-cocina-cantidad').innerHTML = message;
           
            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

        });
        //fin para cargar la cantidad de receta 


        //para completar la orden 
         function completarOrden(idOrden) {
            ipcRenderer.send("async-receta-completarOrden", idOrden);
            var loader = document.getElementById('loader');
            loader.style.visibility = '';
         }


         ipcRenderer.on('asynchronous-reply-receta-completarOrden', (event, arg) => {

             cocinaIndex();

        });
        //fin para completar la orden 



        function modalReceta(idReceta) {
            ipcRenderer.send("modalReceta-window", idReceta);
        }


        function cortarTextoConPuntos(texto, limite)
        {
           
          var puntosSuspensivos = "...";
          if(texto.length > limite)
          {
            texto = texto.substring(0,limite) + puntosSuspensivos;
          }

            return texto;
        }

        function cargarTextos() {

            var highlightedItems = document.querySelector(".cortarTexto");

            highlightedItems.forEach(function (userItem) {
                var text = cortarTextoConPuntos(userItem.innerHTML, 6);
                userItem.innerHTML = text;
            });
        }

        function calcularMinutos(fecha) {
            var today = new Date();
            var Christmas = new Date(fecha);
            var diffMs = (Christmas - today); // milliseconds between now & Christmas
            var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000); // minutes
            return diffMins * -1;
        }

        function estadoOrden(fecha) {

            var minutos = calcularMinutos(fecha);

            var integer = parseInt(minutos, 10);

            var estado = "Ingresado";

            if (integer < 15) {
                estado = "Limite"
            } 

            if (integer < 5) {
                estado = "Retrasado"
            } 

            return estado;
        }

        function estadoOrdenStyle(fecha) {

            var minutos = calcularMinutos(fecha);

            var integer = parseInt(minutos, 10);
            var estado = "info";

            if (integer < 15) {
                estado = "warning"
            } 

            if (integer < 5) {
                estado = "danger"
            } 

            return estado;
        }

        


    </script>


</bacon>

