<bacon class="task-bacon">



    <div class="row">

        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Notificaciones a Cocina</h4>
                    <p class="card-description">Todas las notificaciones a cocina</p>
                    <div class="row">
                        <div class="col-md-6 text-center text-primary display-4">Notificaciones enviadas</div>
                        <div class="col-md-6 text-center text-primary display-4">Notificaciones recibidas</div>
                    </div>
                    <div class="mt-5">
                        <div class="timeline" id="notify">


                            <div class="timeline-wrapper timeline-wrapper-primary">
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                    </div>
                                    <div class="timeline-body">
                                        <article class="container" style="border: 0px;">

                                            <div class="background">
                                                <div class="left">
                                                    <!----<div class="image"></div>-->
                                                    <div class="mask thick"></div>
                                                </div>
                                                <div class="right">
                                                    <div class="bar"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar"></div>
                                                    <div class="mask thin"></div>
                                                    <div class="bar medium"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar small"></div>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                    <div class="timeline-footer d-flex align-items-center flex-wrap">
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">

                                    </div>
                                    <div class="timeline-body">
                                        <article class="container" style="border: 0px;">

                                            <div class="background">
                                                <div class="left">
                                                    <!----<div class="image"></div>-->
                                                    <div class="mask thick"></div>
                                                </div>
                                                <div class="right">
                                                    <div class="bar"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar"></div>
                                                    <div class="mask thin"></div>
                                                    <div class="bar medium"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar small"></div>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                    <div class="timeline-footer d-flex align-items-center flex-wrap">
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-wrapper timeline-wrapper-primary">
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                    </div>
                                    <div class="timeline-body">
                                        <article class="container" style="border: 0px;">

                                            <div class="background">
                                                <div class="left">
                                                    <!----<div class="image"></div>-->
                                                    <div class="mask thick"></div>
                                                </div>
                                                <div class="right">
                                                    <div class="bar"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar"></div>
                                                    <div class="mask thin"></div>
                                                    <div class="bar medium"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar small"></div>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                    <div class="timeline-footer d-flex align-items-center flex-wrap">
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">

                                    </div>
                                    <div class="timeline-body">
                                        <article class="container" style="border: 0px;">

                                            <div class="background">
                                                <div class="left">
                                                    <!----<div class="image"></div>-->
                                                    <div class="mask thick"></div>
                                                </div>
                                                <div class="right">
                                                    <div class="bar"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar"></div>
                                                    <div class="mask thin"></div>
                                                    <div class="bar medium"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar small"></div>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                    <div class="timeline-footer d-flex align-items-center flex-wrap">
                                    </div>
                                </div>
                            </div>
                            <div class="timeline-wrapper timeline-wrapper-primary">
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                    </div>
                                    <div class="timeline-body">
                                        <article class="container" style="border: 0px;">

                                            <div class="background">
                                                <div class="left">
                                                    <!----<div class="image"></div>-->
                                                    <div class="mask thick"></div>
                                                </div>
                                                <div class="right">
                                                    <div class="bar"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar"></div>
                                                    <div class="mask thin"></div>
                                                    <div class="bar medium"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar small"></div>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                    <div class="timeline-footer d-flex align-items-center flex-wrap">
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-wrapper timeline-inverted timeline-wrapper-danger">
                                <div class="timeline-badge"></div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">

                                    </div>
                                    <div class="timeline-body">
                                        <article class="container" style="border: 0px;">

                                            <div class="background">
                                                <div class="left">
                                                    <!----<div class="image"></div>-->
                                                    <div class="mask thick"></div>
                                                </div>
                                                <div class="right">
                                                    <div class="bar"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar"></div>
                                                    <div class="mask thin"></div>
                                                    <div class="bar medium"></div>
                                                    <div class="mask thick"></div>
                                                    <div class="bar small"></div>
                                                </div>
                                            </div>

                                        </article>
                                    </div>
                                    <div class="timeline-footer d-flex align-items-center flex-wrap">
                                    </div>
                                </div>
                            </div>




                        </div>

                    </div>


                    <div class="d-flex align-items-center text-center error-page bg-primary mt-4" style="visibility: hidden;" id="sinNotificaciones">
                        <div class="row flex-grow mt-4">
                            <div class="col-lg-7 mx-auto text-white mt-4">
                                <div class="row align-items-center d-flex flex-row mt-4">

                                    <div class="col-lg-12 error-page-divider text-lg-left pl-lg-4">
                                        <h2>¡Lo sentimos!</h2>
                                        <h3 class="font-weight-light">
                                            No se han emitido notificaciones para el día de hoy
                                        </h3>
                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 text-center mt-xl-2">

                                    </div>
                                </div>
                                <div class="row mt-5">
                                    <div class="col-12 mt-xl-2">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        

        function cocinaNotificacion() {

            getNotificacionDeCocina();

            timerNotificacionCocina = false;

        }


        function getNotificacionDeCocina() {
            ipcRenderer.send("async-de-cocina-notify", 'buscar');
            var loader = document.getElementById('loader');
            loader.style.visibility = '';
        }

        ipcRenderer.on('asynchronous-reply-de-cocina-notify', (event, arg) => {

            //enviadas - recibidas

            let message = "";

            document.getElementById('notify').innerHTML = "";

            if (arg.length == 0) {

                var sinNotificaciones = document.getElementById('sinNotificaciones');
                sinNotificaciones.style.visibility = '';
            } else {
                var sinNotificaciones = document.getElementById('sinNotificaciones');
                sinNotificaciones.style.visibility = 'hidden';
            }

            for (var i = 0; i < arg.length; i++) {

                //recibida
                if (arg[i].rol.id_rol == 5) {


                    message += "<div class='timeline-wrapper timeline-inverted timeline-wrapper-" + colorNotify(arg[i].estado) + "'><div class='timeline-badge'></div><div class='timeline-panel'><div class='timeline-heading'>"
                        + "<h6 class='timeline-title'>" + arg[i].asunto + "</h6></div><div class='timeline-body'>"
                        + "<p>" + arg[i].descripcion + "</p></div><div class='timeline-footer d-flex align-items-center flex-wrap'>"
                        + marcarLeida(arg[i].estado, arg[i].idNotificacion) + " <span class='ml-md-auto font-weight-bold'>" + arg[i].fecha + "</span>"
                        + "</div></div></div>";


                } else {
                    //enviada

                    message += "<div class='timeline-wrapper timeline-wrapper-" + colorNotify(arg[i].estado) + "'><div class='timeline-badge'></div><div class='timeline-panel'><div class='timeline-heading'>"
                        + "<h6 class='timeline-title'>" + arg[i].asunto + "</h6></div><div class='timeline-body'>"
                        + "<p>" + arg[i].descripcion + "</p></div><div class='timeline-footer d-flex align-items-center flex-wrap'>"
                        + marcarLeidaEnviado(arg[i].estado) + " <span class='ml-md-auto font-weight-bold'>" + arg[i].fecha + "</span>"
                        + "</div></div></div>";

                }
            }


            document.getElementById('notify').innerHTML = message;


            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

        });


        function marcarLeida(estado, idNotificacion) {

            let status = "<button type='button' onclick='cambiarEstadoNotificacion( " + idNotificacion + " )' class='btn btn-outline-secondary btn-rounded btn-icon mr-2'><i class='mdi mdi-heart-outline text-danger'></i></button><span>Marcar como leído</span>";

            if (estado == 1) {
                status = "<i class='mdi mdi-check-all mr-1'></i><span>leído</span>";
            }

            return status;
        }

        function marcarLeidaEnviado(estado) {

            let status = "<i class='mdi mdi-check mr-1'></i><span>Enviado</span>";

            if (estado == 1) {
                status = "<i class='mdi mdi-check-all mr-1'></i><span>leído</span>";
            }

            return status;
        }

        function colorNotify(estado) {
            let color = "danger";

            if (estado == 1) {
                color = "info";
            }

            return color;
        }

        function cambiarEstadoNotificacion(idNotificacion) {
            ipcRenderer.send("async-cocina-notify-leido", idNotificacion);
            var loader = document.getElementById('loader');
            loader.style.visibility = '';
        }


        ipcRenderer.on('asynchronous-reply-cocina-notify-leido', (event, arg) => {

            cocinaNotificacion();

        });

        setInterval(function () {
            if (timerNotificacionCocina) {
                cocinaNotificacion();
            }
        }, 60000);

    </script>




</bacon>
