<bacon class="task-bacon">





    <div class="card-columns" id="target-ord-habilitarReceta" style="column-count: 4">

        <div class="card">
            <div class="card-body">

                <article class="container" style="border: 0px;">

                    <div class="background">
                        <div class="left">
                            <div class="image"></div>
                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <br />

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>


                </article>

            </div>
        </div>


        <div class="card">
            <div class="card-body">

                <article class="container" style="border: 0px;">

                    <div class="background">
                        <div class="left">
                            <div class="image"></div>
                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <br />

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>


                </article>

            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <article class="container" style="border: 0px;">

                    <div class="background">
                        <div class="left">
                            <div class="image"></div>
                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <br />

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>


                </article>

            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <article class="container" style="border: 0px;">

                    <div class="background">
                        <div class="left">
                            <div class="image"></div>
                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <br />

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>


                </article>

            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <article class="container" style="border: 0px;">

                    <div class="background">
                        <div class="left">
                            <div class="image"></div>
                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <br />

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>


                </article>

            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <article class="container" style="border: 0px;">

                    <div class="background">
                        <div class="left">
                            <div class="image"></div>
                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <br />

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>


                </article>

            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <article class="container" style="border: 0px;">

                    <div class="background">
                        <div class="left">
                            <div class="image"></div>
                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <br />

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>

                    <div class="background">
                        <div class="left">

                            <div class="mask thick"></div>
                        </div>
                        <div class="right">
                            <div class="bar"></div>
                            <div class="mask thick"></div>
                            <div class="bar"></div>
                            <div class="mask thin"></div>
                            <div class="bar medium"></div>
                            <div class="mask thick"></div>
                            <div class="bar small"></div>
                        </div>
                    </div>


                </article>

            </div>
        </div>


    </div>


    <script type="text/javascript">

        function habilitarRecetaIndex() {
            cargarRecetasHab();
            timer = false;
        }

        function cargarRecetasHab() {
            ipcRenderer.send("async-HabilitarReceta", 'buscar');
            var loader = document.getElementById('loader');
            loader.style.visibility = '';
        }

        ipcRenderer.on('asynchronous-reply-HabilitarReceta', (event, arg) => {

            console.log(arg);

            let recetasHab = "";

            document.getElementById('target-ord-habilitarReceta').innerHTML = "";

            for (var i = 0; i < arg.length; i++) {

                recetasHab += "<div class='card'> <img class='card-img-top' src='https://baconappimagenes.s3-sa-east-1.amazonaws.com/" + arg[i].foto + "' alt='Card image cap'> <div class='card-body text-center'><h4>" +
                    arg[i].nombreReceta + "</h4><h6>" + arg[i].descripcionReceta + "</h6><div><div class='badge badge-outline-primary badge-pill mr-1'> Duración </br> " + arg[i].duracionPreparacion +
                    " min </div> <div class='badge badge-outline-primary badge-pill mt-1'> Cantidad </br>" + arg[i].cantidadPrepacionDiaria +
                    " </div></div><button onclick='habilitarRec(" + arg[i].idReceta + ")' type='button' class='btn btn-primary btn-lg btn-block mt-2'><i class='mdi mdi-account'></i>habilitar Receta</button></div></div>";
            }

            document.getElementById('target-ord-habilitarReceta').innerHTML = recetasHab;

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

        });

        function habilitarRec(idReceta) {

            ipcRenderer.send('async-HabilitarRece', idReceta);
            var loader = document.getElementById('loader');
            loader.style.visibility = '';

        }

        ipcRenderer.on('asynchronous-reply-HabilitarRece', (event, arg) => {

            cargarRecetasHab();

            var loader = document.getElementById('loader');
            loader.style.visibility = 'hidden';

        });





    </script>




</bacon>