<bacon class="task-bacon">





    <div class="card-columns" style="column-count: 4">
        <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/363x363" alt="Card image cap">
            <div class="card-body text-center">

                <h4> Nombre Receta </h4>
                <h6> Descripción Receta </h6>
                <div>
                    <div class="badge badge-outline-primary badge-pill mr-1">Duración</div>
                    <div class="badge badge-outline-primary badge-pill">Disponibilidad</div>
                    <div class="badge badge-outline-primary badge-pill mt-1">Cantidad Preparación</div>
                    <div class="badge badge-outline-primary badge-pill">Descripción Receta</div>
                </div>
                <button type="button" class="btn btn-primary btn-lg btn-block mt-2">
                    <i class="mdi mdi-account"></i>
                    Deshabilitar Receta
                </button>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        function deshabilitarRecetaIndex() {
            
            timer = false;
        }

       

    </script>




</bacon>

