@using bacon_desktop.Models;
@{ 

    Personal personal = (Personal) ViewData["personal"];

}
<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bacon</title>
    <!-- base:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />

    <script type="text/javascript">
        const { ipcRenderer } = require("electron");
    </script>

    <link rel="import" target="cocinaIndex" href="../Cocina/index" />

    <link rel="import" target="cocinaNotificacion" href="../Cocina/Notificacion" />

    <link rel="import" target="pagarOrdenIndex" href="../PagarOrden/index" />

    @*<link rel="import" target="pruebaDos" href="pruebaDos.html">*@

</head>

<body class="sidebar-fixed">
    <div class="container-scroller">

        <div class="container-fluid page-body-wrapper" >
            <!-- partial -->
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <div class="sidebar-profile">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="profile-desc">
                            <p class="name mb-0">@personal.Nombres_personal</p>
                            <p class="designation mb-0">Sales Manager</p>
                        </div>
                    </div>
                </div>
                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#cocina" aria-expanded="true" aria-controls="cocina">
                            <i class="mdi mdi-view-headline menu-icon"></i>
                            <span class="menu-title">Cocina</span>

                        </a>
                        <div class="collapse show" id="cocina" style="">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#cocinaIndex" onclick="accion(this)">
                                        <span class="menu-title">Tablero de ejecución</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#cocinaNotificacion" onclick="accion(this)">
                                        <span class="menu-title">Notificaciones</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link collapsed" data-toggle="collapse" href="#cocina" aria-expanded="true" aria-controls="cocina">
                            <i class="mdi mdi-view-headline menu-icon"></i>
                            <span class="menu-title">Caja</span>

                        </a>
                        <div class="collapse show" id="cocina" style="">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pagarOrdenIndex" onclick="accion(this)">
                                        <span class="menu-title">Pagar Ordenes</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>


                </ul>
                <div id="loader" class="dot-opacity-loader" style="visibility: hidden">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div id="contenido" class="content-wrapper">



                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

        <!-- container-scroller -->
        <!-- base:js -->
        <script src="~/vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="~/js/off-canvas.js"></script>
        <script src="~/js/hoverable-collapse.js"></script>
        <script src="~/js/template.js"></script>
        <script src="~/js/settings.js"></script>
        <script src="~/js/todolist.js"></script>
        <!-- endinject -->
        <!-- plugin js for this page -->
        <script src="~/js/tooltips.js"></script>
        <script src="~/vendors/jquery-toast-plugin/jquery.toast.min.js"></script>
        <!-- End plugin js for this page -->
        <!-- Custom js for this page-->

        <!-- End custom js for this page-->

    <style type="text/css" >
        .page-body-wrapper{
             padding-top: 0px; 
        }
    </style>

    @*<script type="text/javascript">
            const links = document.querySelectorAll('link[rel="import"]');

            // Import and add each page to the DOM
            Array.prototype.forEach.call(links, function (link) {

                let template = link.import.querySelector('bacon');

                let clone = document.importNode(template, true);

                if (link.target === 'prueba') {
                    document.querySelector('.content-wrapper').appendChild(clone);
                }

            });
    </script>*@


    <script type="text/javascript">
            function accion(etiqueta) {

                timer = false;

                //$('.content-wrapper').empty();
                document.getElementById("contenido").innerHTML = "      "

                var nombreImport = etiqueta.href.split("#")[1];

                const links = document.querySelectorAll('link[rel="import"]');

                // Import and add each page to the DOM
                Array.prototype.forEach.call(links, function (link) {

                    let template = link.import.querySelector('bacon');

                    let clone = document.importNode(template, true);

                    if (link.target === nombreImport) {
                        document.querySelector('.content-wrapper').appendChild(clone);
                        executeFunctionByName(link.target, window); 
                    }

                });
            }

        function executeFunctionByName(functionName, context /*, args */) {
          var args = Array.prototype.slice.call(arguments, 2);
          var namespaces = functionName.split(".");
          var func = namespaces.pop();
          for(var i = 0; i < namespaces.length; i++) {
            context = context[namespaces[i]];
          }
          return context[func].apply(context, args);
        }


    </script>


</body>

</html>


