/* Tables */

.table {
  margin-bottom: 0;
  thead {
    th {
      border-top: 0;
      border-bottom-width: 1px;
      font-weight: normal;
      font-size: .875rem;
      font-weight: 500;
      i {
        margin-left: 0.325rem;
      }
    }
  }
  th,
  td {
    vertical-align: middle;
    line-height: 1;
  }
  td {
    font-size: $default-font-size;
    img {
      width: 36px;
      height: 36px;
      border-radius: 100%;
    }
    .badge {
      margin-bottom: 0;
    }
  }
  &.table-borderless {
    border: none;
    tr,
    td,
    th {
      border: none;
    }
  }
  &.table-bordered {
    border-top: 1px solid $border-color;
  }
  &.table-striped {
    thead {
      tr {
        background: darken($table-accent-bg , 2%);
        th {
          font-weight: 500;
        }
      }
    }
    tbody {
      td {
        padding: .67rem 0.9375rem;
      }
    }
    td, th {
      border: 0;
    }
  }
}
