<bacon class="task-bacon">
    pruebaaaaaaaa
    <div id="prueba1"></div>

    <script type="text/javascript">

        function finanzasIndexCierreCaja() {
            document.getElementById('prueba1').innerHTML = '<p>holaaaaaa</p>';
            alert('holaaaaaa23');
        }
        
    </script>
</bacon>
